<style>
    /* 하트에 대한 스타일 지정 */
    i {
        color:red;
        font-size: 20px;
        cursor: pointer;
    }
</style>

<div class="row my-5 justify-content-center">
    <h1 class = "text-center mb-5"><%=title%></h1>
    <div class = "card col-md-10">
        <div class="row card-body">
            <div class="col-md-4">
                <img src = <%=info.thumbnail%> width="90%">
            </div>
            <div class="col">
                <h5>
                    <%=info.title%>
                    <!--하트 생성 / 부트스트랩 아이콘 내 사용 / 하트, 채워진 하트-->
                    <i class="bi-heart" id="heart"></i>
                    <!-- <i class="bi bi-heart-fill"></i> -->
                </h5>
                <hr>
                <div class="mb-3">가격 : <%=info.price%></div>
                <div class="mb-3">저자 : <%=info.authors%></div>
                <div class="mb-3">출판사 : <%=info.publisher%></div>
                <div class="mb-3">ISBN : <%=info.isbn%></div>
                <div class="my-3">
                    <button class="btn btn-success px-5 cart">장바구니</button>
                    <button class="btn btn-warning px-5">바로구매</button>
                </div>
            </div>
            <hr>
            <div><%=info.contents%></div>
        </div>
    </div>
</div>

<%-include("review.ejs")%>

<script type="module">
    // * script 타입이 module로 되어있어야 파이어베이스의 config.js를 import해올 수 있다.
    import {app} from '/javascripts/config.js'
    // 파이어베이스에서 리얼타입 데이터베이스를 가져오는 import
    // ref 주소 / set 저장
    import {getDatabase, ref, set, get, onValue, remove} from "https://www.gstatic.com/firebasejs/10.13.2/firebase-database.js";

    const db = getDatabase(app);

    // kakao router에서 각 변수에 대한 데이터를 받았음
    const isbn = "<%=info.isbn%>";
    const title = "<%=info.title%>";
    const thumbnail = "<%=info.thumbnail%>";
    const publisher = "<%=info.publisher%>";
    const authors = "<%=info.authors%>";
    const contents = "<%=info.contents%>";
    const price = "<%=info.price%>";
    const info = {isbn, title, thumbnail, publisher, authors, contents, price};
    console.log(info);

    // 빈 하트를 클릭한 경우
    $("#heart").on("click", function() {
        // isbn 출력
        // alert(isbn);

        // 하트가 비어져있는지 확인
        if($(this).attr("class") == "bi-heart") {
            // 빈 하트를 클릭한 경우
            if(confirm("좋아요를 추가할거니?")) {
                // database에 favorite 아래 uid 아래 isbn 아래 title만 추가한다.
                set(ref(db, `favorite/${uid}/${isbn}`), {title});
            }
        } else {
            // 채워진 하트를 클릭한 경우
            if(confirm("좋아요를 취소할거니?")) {
                remove(ref(db, `favorite/${uid}/${isbn}`));
            }
        }

    });

    // 좋아요 체크 -> favorite에 정보가 있는지 판단해서 class를 변경한다
    // onValue로 ref 아래의 snapshot의 정보를 가져온다
    onValue(ref(db, `favorite/${uid}/${isbn}`), snapshot => {
        // 좋아요 체크되어있으면 size = 1, 좋아요 체크되어있지 않으면 size = 0
        // console.log(snapshot);
        
        // uid가 있으면서 snapshot에 데이터가 있는 경우
        if(uid && snapshot.size == 1) {
            // 채워진하트인 경우 
            $("#heart").removeClass("bi-heart");
            $("#heart").addClass("bi-heart-fill");
        // uid가 있으면서 snapshot에 데이터가 없는 경우
        } else if(uid && snapshot == 0) {
            // 채워진 하트인 경우에
            $("#heart").removeClass("bi-heart-fill");
            $("#heart").addClass("bi-heart");
        }
    })


    //장바구니를 클릭한 경우 class 불러오기 $(".cart")
    // async 비동기 확인 await -> set할때까지 alert를 기다린다.
    $(".cart").on("click", async function() {
        if(email) {
            // 현재 도서를 장바구니에 넣기
            
            // ref_cart - 저장할 데이터 주소 : cart 아래 uid 아래 isbn 아래에 저장해라!
            // uid + "/" + isbn -> `${uid}/${isbn}`
            // 빽탭 사용 -> uid 밑에 isbn 밑에 info를 넣겠다.
            // cart라는 route 밑에 ~ 필요
            const ref_cart = ref(db, `cart/${uid}/${isbn}`);

            // 위에서 import 항목에 get 을 추가해야 사용 가능
            const snapshot = await get(ref_cart);

            // 이미 장바구니에 존재하는 도서가 있다면 
            if(snapshot.val()) {
                alert("이미 장바구니에 존재하는 도서입니다.");
            }else {
                // 장바구니에 없을 경우, 저장하는 set
                // await set(ref(db, `cart/${uid}/${isbn}`), info);
                await set(ref_cart, info);
                alert("장바구니에 추가되었습니다.");
            }
            
        }else {
            // seesionStorage라는 브라우저의 공간에 target이란 변수에 링크를 넣어둠
            sessionStorage.setItem("target", window.location.href);
            location.href = "/users/login";
        }
    });
</script>
